/* BARTKA */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

input {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

.tytuly {
  margin: 50px;
  font-size: 45px;
  font-weight: 400;
}
.tytuly ::after {
  border: #282828;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}

.navbar {
  width: 100vw;
  background-color: #282828;
  height: 70px;
}

#onas {
  width: 100vw;
  height: 350px;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.onasElement {
  background-color: white;
  margin: 20px;
  height: 300px;
  width: 350px;
}

.onasImage {
  background-color: red;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.onasTytul {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.onasOpis {
  font-size: 18px;
  text-align: center;
}

#galeria {
  text-align: center;
  padding: 45px;
}

.fotogaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foto {
  width: 300px;
  height: 300px;
  background-color: blue;
}

#onass {
  margin-top: 100px;
  width: 100vw;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.opis {
  margin-top: 40px;
  padding: 15px;
  width: 1076px;
  height: 300px;
  background-color: white;
  transform: translate(15%, 10%);
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
}

.foto1 {
  background-image: url("podloga.jpg");
  height: s;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#coOferujemy {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.oferta {
  width: 30vw;
  height: 40vw;
  margin-top: 30px;
}

.ofertaImg {
  background-color: coral;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.ofertaOpis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

#conctact {
  background-color: #282828;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: white;
}

.form {
  margin: 100px;
  background-color: #595959;
  display: grid;
  width: 50vw;
  grid-template-columns: 40% 60%;
  padding: 30px;
}

.formForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formForm h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px;
  font-size: 60px;
}
.formForm .inputText,
textarea {
  background-color: #595959;
  border-bottom: 3px solid white;
  height: 50px;
  width: 70%;
  font-size: 30px;
  margin: 20px;
  outline: none;
  color: white;
}

textarea {
  width: 70%;
  height: 200px;
}

textarea:focus {
  background-color: white;
  color: #282828;
}

.formForm input:focus {
  outline: none;
  background-color: white;
  color: #282828;
}

.formTel {
  padding: 30px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.telButton {
  background-color: #00e0ff;
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-size: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.wyslij {
  width: 30%;
  height: 40px;
  color: #282828;
  font-size: 30px;
  background-color: white;
}

/* JURNDA */

body {
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #282828;
  height: 70px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.guziki {
  background-color: #282828;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 10px;
}
.guziki:hover {
  background-color: #484848;
}

.logo {
  font-size: 40px;
  color: white;
}
.glowne {
  background-color: red;
  border: none;
  color: white;
  padding: 200px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.box {
  background-color: red;
  width: 20%;
  text-align: center;
}
.stopka {
  font-size: 20px;
}
.zdjecie {
  width: 50px;
  height: 50px;
}
img {
  width: 100%;
  height: 100%;
}

/* ARKA */

.mainPage {
  height: 91vh;
  width: 100vw;
  overflow: hidden;
}
.slider {
  width: 100vw;
  height: 91vh;
  overflow: hidden;
}
.slides {
  width: 400%;
  height: 91vh;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 100vw;
  transition: 2s;
}

.slide img {
  width: 100vw;
  height: 91vh;
}
.navigation-manual {
  position: absolute;
  width: 100vw;
  margin-top: -10, 5vh;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid white;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 25px;
}

#radio1:checked ~ .First {
  margin-left: 0;
}
#radio2:checked ~ .First {
  margin-left: -25%;
}
#radio3:checked ~ .First {
  margin-left: -50%;
}
#radio4:checked ~ .First {
  margin-left: -75%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 79vh;
}
.navigation-auto div {
  border: 2px solid white;
  padding: 12px;
  border-radius: 20px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 25px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}
