body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

input {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger div {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 5px;
}
.hamburger .line:nth-child(2) {
  transition: background-color 0.3s 0.1s ease-in-out;
}
.hamburger .line:nth-child(3) {
  transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger .line:nth-child(1) {
  transition: transform 0.2s 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  body {
    /*overflow-x: hidden;*/
  }
  header ul {
    position: absolute;
    left: 0;
    height: 100vh;
    top: -1rem;
    background-color: #00e0ff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  header ul li {
    height: 100px;
    /*opacity:0;*/
  }
  .hamburger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
.hamburger-active {
  position: absolute;
  right: 6.2rem;
}
.hamburger-active .line:nth-child(2) {
  background-color: transparent;
}
.hamburger-active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger-active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
/* NAVBAR */

.mainPage {
  height: 91vh;
  width: 100vw;
  overflow: hidden;
}
.slider {
  width: 100vw;
  height: 91vh;
  overflow: hidden;
}
.slides {
  width: 400%;
  height: 91vh;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 100vw;
  transition: 2s;
}

.slide img {
  width: 100vw;
  height: 91vh;
}
.navigation-manual {
  position: absolute;
  width: 100vw;
  margin-top: -11.95vh;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid white;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 25px;
}

#radio1:checked ~ .First {
  margin-left: 0;
}
#radio2:checked ~ .First {
  margin-left: -25%;
}
#radio3:checked ~ .First {
  margin-left: -50%;
}
#radio4:checked ~ .First {
  margin-left: -75%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 79vh;
}
.navigation-auto div {
  border: 2px solid white;
  padding: 12px;
  border-radius: 20px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 25px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}

/* HERO IMAGE */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 100000;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20rem;
}

header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
.sticky {
  padding: 5px 10px;
  background: black;
  position: fixed;
}
header .sticky ul li a {
  color: black;
}

/* OFERTA */

.oferty {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transform: translateY(100px);
  transition: 0.8s linear;
  opacity: 0;
}

.oferty-animation {
  opacity: 1;
  transform: translateY(0px);
}

.oferta {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  margin: 40px;
  cursor: pointer;
}

.oferta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tytulOferty {
  position: absolute;
  font-size: 40px;
  transform: translateY(250px);
  transition: 1s;
}

.tytulOferty-animation {
  font-size: 40px;
  transform: translateY(100px);
}

.opisOferty {
  opacity: 0;
  transition: 1s;
  transform: translateY(200px);
  text-align: center;
}

.opisOferty-animation {
  opacity: 1;
}

/* O NAS */

.oNas {
  margin-top: 100px;
  width: 100vw;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.opisONas {
  margin-top: 40px;
  padding: 15px;
  width: 1076px;
  height: 300px;
  background-color: white;
  transform: translate(15%, 10%);
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
}

.fotoONas {
  background-image: url("podloga.jpg");
  height: s;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* GALERIA */

.galeria {
  text-align: center;
}

.fotoGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foto {
  width: 300px;
  height: 300px;
  background-color: blue;
}

/* FORMULARZ KONTAKTOWY */
.conctact {
  background-image: url("img/tlo2.png");
  background-color: #282828;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: white;
}

.form {
  margin: 100px;
  background-color: #383838;
  display: grid;
  width: 50vw;
  grid-template-columns: 40% 60%;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
}

.formForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formForm h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px;
  font-size: 60px;
}

.formForm .inputText,
textarea {
  background-color: #595959;
  border-bottom: 3px solid white;
  height: 50px;
  width: 70%;
  font-size: 30px;
  margin: 20px;
  outline: none;
  color: white;
}

textarea {
  width: 70%;
  height: 200px;
}

textarea:focus {
  background-color: white;
  color: #282828;
}

.formForm input:focus {
  outline: none;
  background-color: white;
  color: #282828;
}

.formTel {
  padding: 30px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.telButton {
  background-color: #00e0ff;
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-size: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.telButton a {
  color: white;
  text-decoration: none;
}

.wyslij {
  color: #fff;
  width: 30%;
  height: 40px;
  color: #282828;
  font-size: 30px;
  border-bottom: #fff 2px solid;
  position: relative;
  background-color: #595959;
}

.wyslij::after {
  content: "";
  height: 3px;
  width: 100%;
  background: red;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* STOPKA */

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.58);
}
.footerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 20%;
  text-align: center;
}
.line {
  align-items: center;
  height: 100%;
  border-left: 2px solid #444444;
}
.stopka {
  color: #777777;
  font-size: 12px;
}
.footerZdjecie {
  width: 50px;
  height: 50px;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  text-align: center;
}
.info {
  text-align: left;
}

.odsylacz {
  text-align: right;
}

.menu {
  color: #777777;
  font-size: 12px;
}
